* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: Cerebi Sans;
  src: url(../fonts/Cerebri-Sans-Regular.ttf);
}

.container {
  width: 375px;
  margin: auto;
  /* padding-top: px; */
  font-family: Cerebi Sans;
  border: 1px solid rgb(212, 212, 212);
}

.static-header {
  position: fixed;
  width: 335px;
  background-color: white;
  top: 0;
  padding-top: 24px;
  z-index: 10;
}

.home-container {
  height: 100vh;
  padding: 16px;
  overflow: scroll;
  padding-top: 8rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-container h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  color: #0f241b;
  font-size: 18px;
  margin-top: 0.3rem;
}

.menu-icon {
  display: flex;
  gap: 16px;
}

.menu-icon img {
  width: 32px;
  height: 32px;
}

.tab-container {
  background-color: #f0f4f2;
  padding: 4px;
  margin-top: 24px;
  border-radius: 8px;
}

.tab {
  display: flex;
  gap: 52px;
  font-size: 14px;
  justify-content: space-between;
}

.home-tab {
  width: 157px;
  padding: 6px 0px 6px 0px;
  background: white;
  text-align: center;
  font-weight: 500;
  border-radius: 8px;
  color: #0f241b;
}

.upcoming-tab {
  text-align: center;
  padding: 6px 0px 6px 0px;
  color: #4b6358;
  margin-right: 49px;
}

.call-container {
  position: relative;
  border-radius: 12px;
  margin-top: 24px;
  padding: 0.2rem;
  background: rgba(3, 168, 78, 0.5);
  height: 106px;
}

.call-content {
  padding-top: 16px;
  border-radius: 8px;
  color: white;
  background-color: #03a84e;
  padding-left: 16px;
  height: 85%;
}

.call-container h6 {
  font-size: 16px;
}

.call-container p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 75%;
  margin-top: 4px;
}
.food-bg {
  position: absolute;
  bottom: 5;
  right: 5;
}

.food-delivery-container {
  height: 192px;
  border-radius: 8px;
  border: 1px solid #6ece8a;
  margin-top: 24px;
  background-color: #f6fffa;
}
.delivery-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 12px 16px;
}

.delivery-img {
  display: flex;
  gap: 12px;
}

.delivery-img h6 {
  font-size: 16px;
  font-weight: 600;
  color: #03a84e;
}

.delivery-img img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.view-status {
  padding: 6px;
  display: flex;
  background-color: #e9fbf2;
  border-radius: 100px;
  cursor: pointer;
}

.view-status a {
  color: #03a84e;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.food-type {
  margin: 0px 16px 0px 16px;
  display: flex;
  padding-bottom: 16px;
  gap: 10px;
  border-bottom: 1px solid #bdeecd;
}

.food-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food-name h6 {
  color: #4b6358;
  font-weight: 400;
  font-size: 14px;
}

.food-name h1 {
  color: #0f241b;
  font-weight: 600;
  font-size: 14px;
  margin-top: 4px;
}

.time-container {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  padding: 0px 16px 0px 16px;
  font-size: 12px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 1px 0px 0px #f1f4f2 inset;
  padding-top: 6px;
  background-color: white;
}

.cleaner-container {
  height: 177px;
  border-radius: 8px;
  border: 1px solid #ffc260;
  margin-top: 24px;
  background-color: #fffbf5;
  margin-bottom: 12rem;
}

.cleaner-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 12px 16px;
}

.cleaner-img {
  display: flex;
  gap: 12px;
}

.cleaner-img h6 {
  font-size: 16px;
  font-weight: 600;
  color: #ff9d00;
}

.cleaner-img img {
  width: 20px;
  height: 20px;
}

.get-ready {
  color: black;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ffda9f;
}

.cleaner-view-status {
  padding: 6px;
  display: flex;
  background-color: #fff3df;
  border-radius: 100px;
  cursor: pointer;
}

.cleaner-view-status a {
  color: #ff9d00;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.modal-background {
  display: none;
  position: fixed;
  backdrop-filter: blur(1.3px);
  top: 0;
  left: 50%;
  width: 390px;
  max-width: 100%;
  margin: auto;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 323px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: fit-content;
  margin-top: 7rem;
  border-radius: 16px;
  padding-bottom: 4rem;
  transform: scale(0.2);
     opacity: 0;
   animation: fadeInScale 0.4s ease forwards; 
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width:678px) {
  .modal-content {
    width: 325px;
  }
    .cleaning-modal-content {
    width: 325px;
    }
}

.cleaning-modal-content {
  background-color: #fff;
  padding: 20px;
  width: 323px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: fit-content;
  margin-top: 2rem;
  border-radius: 16px;
  padding-bottom: 4rem;
  transform: scale(0.2);
    opacity: 0;
    animation: fadeOutScale 0.4s ease-out forwards;
}

@keyframes fadeOutScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  visibility: hidden;
}

.date {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #4b6358;
}

.order-status {
  display: flex;
  margin-top: 24px;
  gap: 8px;
}

.order-status img {
  width: 32px;
  height: 32px;
}

.clean-text {
  font-size: 16px;
  color: #0f241b;
}

.address {
  margin-top: 20px;
  padding: 12px;
  border: 1px dashed #cbd8d2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cleaner-details {
  padding: 12px;
  border-bottom: 1px dashed #cbd8d2;
  border-left: 1px dashed #cbd8d2;
  border-right: 1px dashed #cbd8d2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.address-title {
  color: #4b6358;
  font-size: 12px;
}

.address-name {
  color: #0f241b;
  font-size: 14px;
  margin-top: 6px;
}

.arrived {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}
.way {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.cleaning {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.arrived-img {
  display: flex;
}

.arrived h3 {
  padding-left: 13px;
  font-size: 16px;
}

.arrived-content {
  border-left: 2px dashed #6ece8a;
  padding-left: 22px;
  margin-left: 8px;
  padding-top: 4px;
  padding-bottom: 30px;
  font-size: 14px;
}
.clean {
  margin-top: 32px;
}

.cleaning-content {
  border-left: 2px dashed #6ece8a;
  padding-left: 24px;
  font-size: 14px;
  margin-left: 8px;
  padding-top: 4px;
  padding-bottom: 30px;
}

.way-content {
  padding-left: 28px;
  margin-left: 8px;
  font-size: 14px;
}

.time {
  color: #4b6358;
  font-size: 12px;
}

.way-img {
  display: flex;
  gap: 8px;
}

.cleaning-img {
  display: flex;
  gap: 8px;
}

::-webkit-scrollbar {
  width: 0.5em; 
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

.blur-background {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  height: 100%;
  
  filter: blur(100);
  /* Adjust the blur intensity as needed */
  z-index: 1;
  /* Set the z-index to be behind the modal but above other content */
}
